---
language: node_js
node_js:
  - "6"

sudo: false
dist: trusty

addons:
  chrome: stable
  sauce_connect:
    username: "mobiledoc-kit"
    access_key: "f9cad21d-1141-452d-8f64-c6ba3f43faa6"

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.27.5
  - export PATH=$HOME/.yarn/bin:$PATH

# Fixes issue starting ChromeHeadless, see https://github.com/travis-ci/travis-ci/issues/9024
before_script:
  - "sudo chown root /opt/google/chrome/chrome-sandbox"
  - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"

script:
  - yarn test:ci
