/**
 * Editor
 */

// Colors
@themeColor     : rgb(62, 163, 255);
@themeColorText : darken(@themeColor, 10%);

.__mobiledoc-editor {
  font-family: 'Lora', Georgia, serif;
  margin: 1em 0;
  color: #454545;
  font-size: 1.2em;
  line-height: 1.6em;
  position: relative;
  min-height: 1em;
}
.__mobiledoc-editor:focus {
  outline: none;
}
.__mobiledoc-editor > * {
  position: relative;
}
.__mobiledoc-editor.__has-no-content:after {
  content: attr(data-placeholder);
  color: #bbb;
  cursor: text;
  position: absolute;
  top: 0;
}
.__mobiledoc-editor a {
  color: @themeColorText;
  white-space: nowrap;
}
.__mobiledoc-editor {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    letter-spacing: -0.02em;
  }
}
.__mobiledoc-editor blockquote {
  border-left: 4px solid @themeColorText;
  margin: 1em 0 1em -1.2em;
  padding-left: 1.05em;
  color: #a0a0a0;
}
.__mobiledoc-editor img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.__mobiledoc-editor div,
.__mobiledoc-editor iframe {
  max-width: 100%;
}
