/**
 * Embeds
 */

.ck-embed-intent-btn {
  position: absolute;
  display: block;
  background: none;
  border: none;
  outline: none;
  margin: 0 0.4em 0 0;
  padding: 0;
  width: 1em;
  height: 1em;
  border: 2px solid #ccc;
  border-radius: 100%;
  color: #ccc;
  text-align: center;
  font-size: 2em;
  line-height: 0.7em;
  cursor: pointer;
  transition: color @colorChangeSpeed, border-color @colorChangeSpeed, transform 0.35s;
  -webkit-animation: pop 0.25s;
          animation: pop 0.25s;
}
.ck-embed-intent-btn:hover  {
  color: #999;
  border-color: #999;
}
.ck-embed-intent-btn:active {
  color: #666;
  border-color: #666;
  transition: none;
}
.ck-embed-intent-btn:before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ck-embed-intent-btn.activated {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.ck-embed-loading {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid #ddd;
  border-top-color: @themeColor;
  animation: spin .5s linear infinite;
  -webkit-animation: spin .5s linear infinite;
}

.ck-file-input {
  display:none;
}

.ck-embed {
  text-align: center;
  margin: 1em 0;
  border: 2px solid transparent;
  border-radius: 2px;
}
.ck-embed.selected {
  border-color: @themeColor;
}

.ck-embed iframe {
  margin: 0 auto !important;
}

.ck-embed figure {
  position: relative;
  margin: 0;
}
.ck-embed figcaption {
  color: #999;
  font-size: 0.7em;
  line-height: 1.3em;
  font-style: italic;
  margin: 10px 0;
}
.ck-embed figcaption a {
  color: #999;
  text-decoration: underline;
}
.ck-embed figcaption a:hover {
  color: #666;
}

@media screen and (min-width: 1080px) {
  .ck-embed figcaption {
    position: absolute;
    top: 0;
    right: -130px;
    width: 130px;
    text-align: left;
    margin: 0;
    padding-left: 2em;
  }
}

.ck-video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; // 16:9
}
.ck-video-container iframe,
.ck-video-container object,
.ck-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
