/* Safari only media query hack */
@media \\0 screen {
  /* Safari bug: can't remove top/left properties so transition always animates from corner */
  .ck-toolbar {
    transition: none;
  }
  /* Safari bug: text rendering antialiasing shifts when animating opacity */
  .ck-tooltip {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }
}
