/**
 * Tooltip
 */

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.__mobiledoc-tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  white-space: nowrap;
  position: absolute;
  background-color: rgba(43,43,43,0.9);
  border-radius: 3px;
  line-height: 1em;
  padding: 0.7em 0.9em;
  color: #FFF;
  -webkit-animation: fade-in 0.2s;
          animation: fade-in 0.2s;
}
.__mobiledoc-tooltip:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0; 
  height: 0; 
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid rgba(43,43,43,0.9);
  top: -0.4em;
  margin-left: -0.4em;
}
.__mobiledoc-tooltip:after { /* help keeps mouseover state when moving from link to tooltip */
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -0.4em;
  height: 0.4em; 
}
.__mobiledoc-tooltip a {
  color: #FFF;
  text-decoration: none;
}
.__mobiledoc-tooltip a:hover {
  text-decoration: underline;
}
