*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #454545;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 0.88em;
  }
}

.editor-pane {
  max-width: 50em;
  margin: 0 auto;
  padding: 5.5em 1.45em 3em;
  width: 100%;
}
.code-pane-open .editor-pane {
  width: 50%;
  margin: 0;
}

header {
  position: fixed;
  left:0; right:0; top: 0;
  z-index: 2;
  height: 3.125em;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 2px rgba(0,0,0,.03);
  background: rgba(252,252,252,0.92);
  background: linear-gradient(to bottom,  rgba(252,252,252,0.92) 0%,rgba(252,252,252,0.97) 100%);
}

.demo-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: -0.015em;
  padding: 0;
  margin: 0 auto;
  width: 50%;
  line-height: 2.2em;
}

.mode-buttons {
  position: absolute;
  top: 0;
  right: 0.5em;
  line-height: 2.9em;
}
.mode-buttons button {
  background-color: transparent;
  border: 1px solid #52a3ff;
  outline: none;
  color: #52a3ff;
  border-radius: 5px;
  padding: 0.6em 1em;
  margin: 0;
  min-width: 8.5em;
  font-size: 0.75em;
  line-height: 1.1em;
  cursor: pointer;
  transition: background-color 0.15s;
}
.mode-buttons button:hover {
  background-color: rgba(0,122,255,0.15);
}
.mode-buttons button:active {
  background-color: #52a3ff;
  color: #FFF;
  transition: none;
}
.mode-buttons button:focus {
  outline: none;
}


.code-panes {
  position: fixed;
  top: 3.125em;
  bottom: 0;
  right: -50%;
  width: 0;
}
.code-pane-open .code-panes {
  right: 0;
  width: 50%;
}
.code-pane {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2b303b;
  overflow: hidden;
}
.code-pane:first-child {
  display: block;
}
.code-pane code {
  white-space: pre-wrap;
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 0.8em;
  line-height: 1.4em;
  background-color: transparent;
  color: #c0c5ce;
  padding: 1.5em 1em 1em;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.code-pane label {
  font-size: 0.8em;
  color: #c0c5ce;
  background: rgba(30,40,48,0.92);
  padding: 0.5em 0.75em;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 0 0 0 3px;
  border-left: 1px solid rgba(192,197,206,0.25);
  border-bottom: 1px solid rgba(192,197,206,0.25);
}

.json-key {
  color: #b48ead;
}
.json-number {
  color: #8fa1b3;
}
.json-string {
  color: #c0c5ce;
}
.json-boolean {
  color: #bf616a;
}
.json-null {
  color: #bf616a;
}
