*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #121212;
  margin: 0;
  padding: 1.2rem;
  background-color: #F3F3F3;
  font-size: 1.1rem;
  line-height: 1.4;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 0.79rem;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0.2rem 0 0.2rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.9rem;
  color: #3C3C3C;
}

p {
  margin: 0.6rem 0 0.6rem;
}

.container {
  margin: 0.5rem 0 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.col-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

hr {
  content: 0;
  height: 0;
  border: 0;
  border-bottom: 3px solid #121212;
  margin: 0.9rem 0 0.8rem;
}

.headline-note {
  color: #D0021B;
  font-size: 1.0rem;
  font-weight: normal;
  margin: 0 0.4rem 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subheadline {
  color: #565656;
}

.pane {
  -webkit-flex: 1;
  flex: 1;
}

.row {
  -webkit-flex: 1;
  flex: 1;
}

.pane p.desc {
  height: 150px;
  overflow: scroll;
}

#serialized-mobiledoc, #mobiledoc-to-load {
  overflow: hidden;
  padding: 0.25em;
}
#serialized-mobiledoc {
  white-space: pre;
  font-size: 0.7rem;
}
.output {
  margin: 0.3rem;
  background: #ffffff;
  border: 2px solid #8A888A;
  padding: 0.3rem 0 0.3rem 0.5rem;
}
.output.full-left {
  margin-left: 0;
}
.output.full-right {
  margin-right: 0;
}
.serialized-mobiledoc-wrapper {
  line-height: 1.1;
}
#rendered-mobiledoc {
  font-size: 0.9rem;
}
#mobiledoc-to-load {
}
#mobiledoc-to-load textarea {
  height: 500px;
  width: 100%;
}

.mobiledoc-toolbar__button.active {
  font-weight: bold;
  background-color: aliceblue;
}
